.navbar {
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 10px #7f7f7f;
}

.navbar-logo {
    height: 1em;
}

.front-section-title {
    height: 12vw;
    width: 100%;
    display: flex;
    margin: 20px -10px 5px -10px;
    padding: 10px;
}

.front-section-title > span {
    align-self: flex-end;
}

.buybg {
    background-color: #77222277;
}

.ownbg {
    background-color: #22772277;
}

.sellbg {
    background-color: #22227777;
}

.news-section {
    background-color: #eeeeee;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    box-shadow: 0px 0px 10px #7f7f7f;
    
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

.partner-section {
    padding: 10px;
}
